
.head {
    background: #fff;
    -webkit-box-shadow: 0 0 32px rgba(0,0,0,.15);
    box-shadow: 0 0 32px rgba(0,0,0,.15);
    height: 48px;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
    display: inline-block;
}
.logo {
    background-color: #f42;
    background: -webkit-gradient(linear,left top,right bottom,from(#c09),color-stop(85%,#f42));
    background: linear-gradient(to bottom right,#c09,#f42 85%);
    height: 48px;
    width: 106px;
    will-change: height;
    display: inline-block;
}
.time {
   display: inline-block;
}
.icon {
    display: inline-block;
    float:right;
}
.key {
    height: 48px;
    width: 48px;
    opacity: .25;
    padding: 16px;
    will-change:opacity;
    float: left;
    box-sizing: border-box;
}
.clear{
    clear: both;
}
.logo-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
}
.logo-nextweb {
    width: 75%;
    height: auto;
}